.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to top, #f3f3f3, #f8f8f8);
}

.leftWrapper,
.rightWrapper {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sortingWrapper {
  position: relative;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.editorWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
