.wrapper {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #bababa, -8px -8px 16px #ffffff;
  cursor: pointer;
}

.icon {
  height: 33px;
  width: 33px;
}
