.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbarWrapper {
  position: relative;
  height: 100vh;
  width: 6vw;
}

.innerWrapper {
  position: relative;
  height: 100vh;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerWrapper .headerWrapper {
  position: relative;
  height: 9vh;
  width: 100%;
}

.innerWrapper .tableWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f8f8f8;
}
