.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.wrapper .imageWrapper {
  height: 550px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .imageWrapper img {
  height: 500px;
  width: 500px;
}

.wrapper .textWrapper {
  height: 10vh;
  width: 20%;
  text-align: center;
}
