.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 10px 10px 15px #d1d1d1, -10px -10px 15px #f3f3f3;
}

.listWrapper {
  position: relative;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
