.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f8f8;
}

.innerWrapper {
  position: relative;
  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f8f8;
}

.wrapper .leftWrapper {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper .leftWrapper .leftTopWrapper {
  position: relative;
  height: 38%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper .leftWrapper .leftTopWrapper .cellWrapper {
  position: relative;
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.wrapper .leftWrapper .latestTasksWrapper {
  position: relative;
  height: 56%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

.wrapper .middleWrapper {
  position: relative;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper .middleWrapper .chartWrapper {
  position: relative;
  height: 47%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

.wrapper .middleWrapper .remindersWrapper {
  position: relative;
  height: 47%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
.wrapper .rightWrapper {
  position: relative;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper .rightWrapper .listByStatusWrapper {
  position: relative;
  height: 23%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
