.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.innerWrapper {
  position: relative;
  height: 100%;
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.infoWrapper {
  position: relative;
  width: 52%;
  height: 100%;
}
