* {
  color: #707070;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.wrapper .nameWrapper {
  position: relative;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper .greetWrapper {
  position: relative;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
