.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upperWrapper {
  position: relative;
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottomWrapper {
  position: relative;
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.iconWrapper {
  position: relative;
  height: 78px;
  width: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 37;
}

.icon {
  height: 62px;
  width: 62px;
}

.active {
  background-color: #f8f8f8;
}
