.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.list {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: flex-start;
  /* margin-top: 4vh; */
}

.link {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list .cell {
  position: relative;
  width: 90%;
  height: 40px;
  border-bottom: 1px solid #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list .cell .titleWrapper {
  position: relative;
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list .cell .titleWrapper h4 {
  margin-left: 10px;
}

.reminderWrapper {
  position: relative;
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  height: 17px;
  width: 17px;
}

.iconWrapper {
  position: relative;
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.iconWrapper h5 {
  margin-right: 10px;
}
