.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.chartWrapper {
  position: relative;
  height: 65%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartLimit {
  position: relative;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection {
  position: relative;
  height: 5%;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.selection h4 {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}
