.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to top, #f3f3f3, #f8f8f8);
}

.wrapper .sortingWrapper {
  position: relative;
  height: 10%;
  width: 100%;
}

.wrapper .listWrapper {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyListWrapper {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
