ul.public-DraftStyleDefault-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol.public-DraftStyleDefault-ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

pre.public-DraftStyleDefault-pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  padding-inline-start: 15px;
  border-radius: 10px;
  border: 1px solid #a3a3a3;
  background-color: rgba(173, 173, 173, 1);
}
